# **Learn de microsoft**

## Exploración de datos

Ejemplo: Profesor utiliza notas de un curso, para ver la probabilidad que aprueben la asigatura según la cantidad de horas de estudio.

In [25]:
data = [50,50,47,97,49,3,53,42,26,74,82,
        62,37,15,70,27,36,35,48,52,63,64]
print(data)

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]

De esta manera no es optima para manejar datos, por eso **ocuparemos NumPy** para manipular estos datos.-

In [8]:
import numpy as np

notas = np.array(data)
notas

array([50, 50, 47, 97, 49,  3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36,
       35, 48, 52, 63, 64])

Comparación de arreglo de numpy y de lista,
- Multiplicar por 2 una lista = genera lista del doble de largo.
- multiplicar por 2 en arreglo de numpy, multiplica por 2 todos los términos del arreglo.

In [11]:
print (type(data),'x * 2:', data * 2)
print('---')
print (type(notas),'x * 2:', notas * 2)

<class 'list'> x * 2: [50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64, 50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
---
<class 'numpy.ndarray'> x * 2: [100 100  94 194  98   6 106  84  52 148 164 124  74  30 140  54  72  70
  96 104 126 128]

In [12]:
notas.shape
#nos da la cantidad total de notas en el arreglo

(22,)

In [15]:
notas[0]
# primera nota del arreglo

np.int64(50)

In [16]:
notas.mean()
#media/promedio de las notas

np.float64(49.18181818181818)

### Arreglo de 2 dimensiones

Ahora crearemos un arreglo de 2 dimensidones, donde se tendrá las horas que los estudiantes asignan a estudiar y sus calificaciones

In [24]:
horasestudio = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,
               13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.0,12.5,12.0]

horasnotas=np.array([horasestudio,notas])

horasnotas

array([[10.  , 11.5 ,  9.  , 16.  ,  9.25,  1.  , 11.5 ,  9.  ,  8.5 ,
        14.5 , 15.5 , 13.75,  9.  ,  8.  , 15.5 ,  8.  ,  9.  ,  6.  ,
        10.  , 12.  , 12.5 , 12.  ],
       [50.  , 50.  , 47.  , 97.  , 49.  ,  3.  , 53.  , 42.  , 26.  ,
        74.  , 82.  , 62.  , 37.  , 15.  , 70.  , 27.  , 36.  , 35.  ,
        48.  , 52.  , 63.  , 64.  ]])

In [23]:
horasnotas.shape # nos dará un 
                 # arreglo de 2 "filas" (submatriz) con 
                 # 22 elementos cada una
                 # (2, 22)

(2, 22)

In [26]:
# Mostrar el primer elemento de al 1era "fila"
# 0411
horasnotas[0][0]

np.float64(10.0)

In [37]:
# Media de submatrices 
promhoras = horasnotas[0].mean() # primera submatriz que es datos de horas de estudio

promnotas = horasnotas[1].mean() # segunda submatriz, notas por estudiante

print('promedio de horas de estudio : {:.2f}\n promedio notas: {:.2f}'. format(promhoras, promnotas))

promedio de horas de estudio : 10.52
 promedio notas: 49.18

###### * ``{:.2f}`` formatea los números a dos decimales.
###### `.format(promhoras, promnotas)` inserta los valores de promhoras y promnotas en los marcadores de la cadena de texto.

## Uso de **Pandas** para ocupar dataframe

In [41]:
import pandas as pd

df_students = pd.DataFrame({'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 
                                     'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny',
                                     'Jakeem','Helena','Ismat','Anila','Skye','Daniel','Aisha'],
                            'StudyHours':horasnotas[0],
                            'Grade':horasnotas[1]})

df_students

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0